<div class="post_preview">
  <h2>{{ post.title }}</h2>
  <p><time datetime="{{ post.published_date | date: "%F" }}">{{ post.published_date | date: "%b %d, %Y" }}</time> | {% include _reading_time.liquid %} | Category: {% for tag in post.tags %}<a href="/tags/{{ tag }}">{{ tag }}</a>{%- endfor -%}</p>
  <p>{{ post.description }}</p>
  <a class="post_preview_link" href="/{{post.permalink}}">Read more →</a>
</div> 
