<h2>{{ page.title }}</h2>
<p><time datetime="{{ page.published_date | date: "%F" }}">{{ page.published_date | date: "%b %d, %Y" }}</time> |  Category: {% for tag in page.tags %}<a href="/tags/{{ tag }}">{{ tag }}</a>{%- endfor -%}</p>
<img class="img_round" src="/assets/img/posts/{{ page.published_date | date: "%Y-%m-%d-" }}{{ page.slug }}/header.png" />
